<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/bills"></ion-back-button>
      </ion-buttons>
    <ion-title>CreateBill</ion-title>
    <!--<ion-button slot='end' color='danger'><ion-icon name="trash" (click)="openCreateBill()"></ion-icon></ion-button>
  --></ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type='text' placeholder="Tipo de conta" [(ngModel)]="bill.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type='text' placeholder="valor da conta" [(ngModel)]="bill.value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type='text' placeholder="totalRecebido" [(ngModel)]="bill.totalReceived"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type='text' placeholder="Data de recebimento da tarifa" [(ngModel)]="bill.receivedAt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type='text' placeholder="Administrador" [(ngModel)]="bill.admin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type='text' placeholder="Email dos integrantes separados por virgula" [(ngModel)]="bill.emailIn"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button><ion-icon name="settings"></ion-icon></ion-fab-button>
    <ion-fab-list side="top" (click)="saveBill()">
        <ion-fab-button>
          <ion-icon name="save" ></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
            <ion-icon name="send"  (click)="senEmail()"></ion-icon>
        </ion-fab-button>

    </ion-fab-list>
</ion-fab>
