<ion-header>
  <ion-toolbar>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <form novalidate>
  <ion-list>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type = "password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirme a Senha</ion-label>
    <ion-input type = "password"></ion-input>
  </ion-item>
</ion-list>

<div padding>
  <ion-button color="primary" (click)="OpenCreate()">CRIAR CONTA</ion-button>
</div>

</form>
</ion-content>
