<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de tarifas</ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>


    <div *ngFor = "let item of bill" class = "category-block" >

          <ion-card expand="full" *ngIf = "userID == item.uid">
            <ion-card-header >
              <ion-card-title>
                  <ion-card-title buttom (click)="goTo([item.id])">{{item.name}} - {{item.admin}}</ion-card-title>
                  <ion-card-subtitle>
                    {{item.totalReceived}}
                    <p>{{item.value}}</p>
                    <p>{{item.receivedAt | date: 'short'}}</p>
                  </ion-card-subtitle>
              </ion-card-title>

            </ion-card-header>
            <ion-card-content>
            <ion-button slot = 'end' (click)="removeBill(item.id)">
                <ion-icon  name="trash" ></ion-icon>
            </ion-button>
            </ion-card-content>
          </ion-card>

    </div>

  </ion-content>

  <ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button ><ion-icon name="add" (click)="openCreateBill()"></ion-icon></ion-fab-button>
  </ion-fab>
  </ion-footer>



  
