
<ion-content>
  <h1 class="custom-title">Bem vindo ao MyFratHouse !</h1>
  <div class="container-buttons">
    <ion-button fill="outline" (click)="OpenCreate()">FAZER LOGIN</ion-button>
    <ion-button fill="outline" (click)="OpenCreate()">CRIAR CONTA</ion-button>
    
  </div>

</ion-content>
